<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="shortcut icon" href="assets/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="nav-border navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/logo.svg" alt="Logo"  height="42" class="d-md-block d-none">
          <img src="./assets/images/logo2.svg" alt="Logo" height="42" class="d-md-none">
        </a>
        <button class="navbar-toggler link-primary ms-auto border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
          <span class="material-icons text-success align-bottom">
            drag_handle
          </span>
        </button>
        <div class="navbar-decoration"></div>
        <div class="collapse navbar-collapse ms-auto flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav text-center gap-md-4 gap-1 ms-auto py-md-0 py-3 mb-0">
            <li class="nav-item">
              <a class="nav-link" href="#">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex justify-content-center" href="#"><span class="material-icons me-1">account_circle</span>登入</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer bg-dark">
      <p class="text-center text-gray-dark fs-9 mb-0 py-md-4 p-3">Coding Home © 2022 All Rights Reserved</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>